<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="demo.mapper.TestEntityMapper" >
  <resultMap id="BaseResultMap" type="demo.mybatis.entity.TestEntity" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="d_id" property="id" jdbcType="INTEGER" />
    <result column="d_name" property="name" jdbcType="VARCHAR" />
  </resultMap>
</mapper>